php_flag session.auto_start 0

FallbackResource /pub/index.php

RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . pub/index.php [L]